@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
      margin-bottom: 20px
    &__message
      margin-top: 0
@media ( max-width: 992px )
  .container,
  .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding-bottom: 31px
    &-bottom
      padding: 23px 0
    &__search
      margin-left: 48px
    &__nav
      font-size: 12px
      font-weight: 700
  .logo
    width: 132px
  .search
    &__input
      width: 340px  
  .hotel
    padding-bottom: 61px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-block
      flex-direction: row
  .hotel__slider
    width: 100%
  .booking,#map
    width: 340px
    min-height: 210px
  .reviews
    &-slider
      &__item
        max-width: 580px
        padding: 0px 61px 29px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 52px
  .activities
    padding: 34px 0 47px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 256px
    &__title
      word-break: break-all
  .footer
    padding-top: 35px
    &-wrapper
      grid-template-columns: repeat(6, minmax(min-content, 1fr)) 
    &__logo
      width: 97px
      margin-top: 33px
      grid-row: 1 / 2
    &__list
      margin-top: 28px
    &__legal
      margin-left: 0
      grid-column: span 2
    &__social
      &-networks
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-top: 50px
        margin-left: 50px
    &__categories
      grid-column: span 2
      grid-row: 2 / 3
      margin-left: 0
    &__additional
      grid-column: span 2
      width: 254px
      justify-self: end
    &__title
      &-contact
        margin-top: 45px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
    &__contacts
      &-form
        grid-column: span 5
        grid-row: 4
        margin-top: 35px
    &__disclaimer
      padding-top: 58px
      &-items
        grid-column: 1 / 3
        justify-self: start
    &__input
      flex-basis: auto
      margin-bottom: 15px
    &__payment
      grid-column: 4

@media ( max-width: 767px )
  .container  
    max-width: 576px
    width: 92%
  .navbar
    &__user, &__search
      &_mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__search
      &_mobile
        &_visible
          margin-right: 50px
          margin-bottom: 18px
          max-width: 245px
    &__user
      flex-direction: column
      justify-content: center
    &__mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 89px
      padding-top: 30px
      &_visible
        display: block
    &-menu
      flex-direction: column
      &__visible
        flex-direction: row
        flex-wrap: wrap
      &__item
        margin-top: 20px 
        font-size: 12px
        line-height: 15px
        &_mobile
          &_visible
            display: block
            margin-left: 90px
    &__user
      &_mobile
        &_visible
          color: $light
          padding-left: 0
          margin-top: 6px
          margin-bottom: 14px
          text-transform: none
  body
    padding-top: 89px
  .logo
    width: 132px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      border: none
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-slider
      height: 350px
    &-block
      flex-direction: column
      min-height: 450px
    &-info
      &__name
        flex-basis: 100%
      &__text
        width: 100%
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-wrapper
      justify-content: space-between
  .star
    flex-basis: auto
  .booking
    width: 100%
  #map
    width: 100%
    min-height: 210px
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: center
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 45px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)     
  .card
    width: 48%
    height: 255px
  .footer
    padding-bottom: 23px
    &__input
      flex-basis: 100%
    &__additional
      width: 240px
      justify-self: center
    &__disclaimer
      padding-top: 90px
      &-items
        grid-column: 1 / 4
@media   ( max-width: 576px )
  .logo
    width: 95px
  .hotel
    &-block
      min-height: 440px
    &-slider
      height: 230px
    &__slider
      margin-bottom: 20px
  .card
    width: 100%
  #map
    min-height: 210px
  .newsletter
    &__subscribe
      width: 280px
  .footer
    padding-top: 35px
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-networks
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__additional 
      width: 100%
      grid-row: 4
      grid-column: 1
      justify-self: auto
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
    &__contacts
      &-form
        grid-row: 7
        grid-column: 1 / 3
        min-width: 100%
    &__disclaimer
      &-items
        grid-row: 8
        grid-column: 1 / 5
      &-link 
        margin-right: 4px
    &__payment
        grid-row: 9
        grid-column: 1 
        margin-top: 5px
  .navbar
    &-menu
      &__visible
        flex-direction: column
        flex-wrap: nowrap
    &-menu
      &__item
        &_mobile
          &_visible
            margin-left: 0
@media   ( max-width: 320px )
  .container
    max-width: 320px
    width: 87%
  .booking
    width: 279px
    height: 210px
  .navbar
    &-top
      &__menu
        &-button
          margin-left: 6px
          margin-top: 6px
  .hotel__slider
    width: 279px
    height: 179px
  #map
    width: 279px
    min-height: 173px
    margin-top: 20px
  .breadcrumb
    &-list
      padding-bottom: 0
  .hotel
    padding-bottom: 38px
    &__slider
      margin-bottom: 20px
    &-info
      padding-bottom: 41px
      &__name
        margin-top: 12px
      &__offer
        margin-top: 0
  .star
    &__wrapper
      margin-right: 16px
  .booking
    padding: 26px 21px 26px 22px
    &__number
      margin-right: 4px
    &__start
      margin-top: 5px
  .newsletter
    &-parallax
      padding: 34px 0 81px 0
    &-wrapper
      margin-right: 5px
    &-title
      font-size: 20px
      font-weight: 300
      &__sub
        font-size: 30px
        font-weight: 600
        margin-top: 9px
    &__subscribe
      max-width: 280px
      margin-top: 20px
    .subscribe
      &__input
        padding-left: 18px
  .hotel
    &-block
      min-height: 309px
  .reviews
    &__raiting
      margin-right: 0
    &__title
      padding: 0 10px 0
      margin-top: 26px
      margin-bottom: 41px
      line-height: 23px
      font-size: 18px
      font-weight: 700
    &-slider
      &__button
        top: 33px
        &--next
        margin-right: -90px
        &--prev
        margin-left: -90px
      &__text
        text-align: left
  .card
    width: 280px
    height: 255px
  .activities
    padding: 13px 0 48px 0
    &__title
      font-size: 18px
      font-weight: 700
      margin-bottom: 39px
  .footer
    padding-bottom: 58px
    &-wrapper
      grid-template-columns: 281px 
    &__form
      position: relative
      flex-direction: row-reverse
    &__contacts
      &-form
        grid-column: 1 / 2
        max-width: 280px  
        margin-bottom: 30px
    &__social
      &-networks
        display: flex
        flex-wrap: wrap
        margin-top: 19px
      &-links
        margin-top: 21px
    &__icon
      &-wrapper
        min-width: 24px
    &__list
      margin-top: 10px
    &__title
      &--mb-36
        margin-bottom: 17px
      &-contact
        margin-top: 22px
    &__contact
      &-details
        max-width: 260px
    &__button
      position: absolute
      top: 107%
      right: 0
      left: 0
    &__info
      margin-top: 16px
      margin-right: 184px
    &__payment
      margin-top: 5px